.btn-lg{
  
  margin:5px
}

body{
 background-image:url(http://eskipaper.com/images/cloudy-sky-8.jpg)
}
body{
  color:black;
}

body
{
font-family: Oswald;}

h1 {
	font-family: Oswald;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    line-height: 26.4px;}